*{
	 text-align: center;
}

h1 {
	color: #b71717;
}

body {
	background-image: url("https://www.desktopbackground.org/p/2011/05/05/198370_dwyane-wade-miami-heat-nba-finals-wallpapers-streetball_1280x720_h.png");
}