*{
	 text-align: center;
}

h1 {
	color: #b71717;
	font-family: cursive;
}
h2 {
	text-align: center;
	font-family: cursive;
	color: black;
	font-size: 26px;
	font-style: bold; 
}

body {
	background-image: url("https://i2.wp.com/s3.envato.com/files/46062429/wooden%20basketball%20court%20prev.jpg?resize=450,300");
	background-size: no-repeat;
	background-size: 200px 100px;

}
img {
	height: 400px;
	width: 400px;
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;
}
.JR{
	height: 350px;
	width: 250px;
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;
}

.Wade{
	height: 450px;
	width: 350px;
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;

}
.K{
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;
}
.J{
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;
}
.D{
	border-style: solid;
    border-width: 5px;
    border-color: #454a54;

}